.nav-item{
    list-style:none;
  //  margin : 5px;
  
}
.header{
    height: 100px;
    width: 100%;
    background-color: #1F2A44e;
}


:root{

    --primary-color: #1F2A44;
    --hover-color: #C0C0C0;
    --page-bg: #F5F7FA;
    --body-text: #333333; 
    --cta-color: #00B4D8;
  
  body{
    background-color: var(--page-bg) ;
}
.header{
    
    color: var(--body-text);
  
}
nav{
   background-color: var(--primary-color) ;
    color: var(--page-bg);
  
}

.btn{
    background-color:  var(--primary-color); 
 color: var(--page-bg);
 z-index: 2;
 
  }

  .stack-link{
    background-color: var(--primary-color);
    width: 200px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px ;
}
.skill{
 background-color: var( --cta-color) ;
 color: white;
 width: 300px;
 border-radius: 5px;
 padding:5px;
}

.footer{
    background-color: var(--primary-color);
 color: white;
}

.ftext{
color: var( --hover-color);
}
.clinks1{

//background-color: var(--primary-color);
color: white;
text-decoration: none;
background: linear-gradient(to right, #1F2A44 50%, #E938A8 50%);
}

}
.mypicture{
    border: 2px solid black;
    width: 200px;
    height: auto;
}
.me{
    position: relative;
    z-index: 2;
    bottom: 10px;
    right: 20px;
}
.card-link{
    text-decoration: none;
}
.skilltext{
    margin-left: 35px;
}
.clinks{
    height:50px;
    width:100px;
    border-radius: 5px;
    
  
}
.clink1,.clink2{
    text-decoration:none;
    
}
.clinks2{
    background-color: #00C951;
}
